@model MvcCv.Models.Entity.TblAdmin
@{
    ViewBag.Title = "AdminDüzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<br />
<h4>Admin Düzenleme Sayfası</h4>
<br />
<form method="post">
    @Html.Label("Kullanıcı ID")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <br />
    @Html.Label("Kullanıcı Adı")
    @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" })
    <br />
    @Html.Label("Şifre")
    @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })
    <br />
  
    <button class="btn btn-info">Düzenle</button>
</form>

