@model MvcCv.Models.Entity.TblSertifikalarim
@{
    ViewBag.Title = "YeniSertifika";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h4>Yeni Sertifika Ekleme Sayfası</h4>
<br />
<form method="post">
    <br />
    @Html.Label("Setifika Açıklaması")
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=> x.Aciklama,"", new { @style ="color:red"}  )

    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=> x.Tarih,"", new { @style ="color:red"}  )

    <br />
    <button class="btn btn-info">Kaydet</button>
</form>
